@import url("/styles/default.css");
.dtable {
    display: table;
}

.drow {
    display: table-row;
}

.dcell {
    display: table-cell;
    padding: 10px;
}

/*Propriétés Animation sur les images*/

.dcell>img:hover {
    animation: scaleImage2 0.5s;
}

.error{
    animation: erreurFormulaire 1s;
    animation-iteration-count: infinite;
}

@keyframes erreurFormulaire{
    0%{
        color: blue;
    }
    50%{
        color:red;
    }
    100%{
        color: blue;
    }
}

@keyframes scaleImage2 {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

/*Propriétés sur l'image - Centrer*/

#imgBonds {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
}